@font-face {
    font-family: 'lucida_granderegular';
    src: url('../fonts/lucidagranderegular/lucidagranderegular-webfont.eot');
    src: url('../fonts/lucidagranderegular/lucidagranderegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucidagranderegular/lucidagranderegular-webfont.woff2') format('woff2'),
         url('../fonts/lucidagranderegular/lucidagranderegular-webfont.ttf') format('woff'),
         url('../fonts/lucidagranderegular/lucidagranderegular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arista_pro_trialfat';
    src: url('../fonts/arista-pro-fat/arista-pro-fat-trial-webfont.eot');
    src: url('../fonts/arista-pro-fat/arista-pro-fat-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arista-pro-fat/arista-pro-fat-trial-webfont.woff2') format('woff2'),
         url('../fonts/arista-pro-fat/arista-pro-fat-trial-webfont.woff') format('woff'),
         url('../fonts/arista-pro-fat/arista-pro-fat-trial-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
