body {
  font-family: lucida_granderegular;
}

.header-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 25px 0 25px;
}

.header-logo,
.header-knowledge-base,
.header-contacts,
.header-request-call,
.header-phone-and-city {
  width: 190px;
  height: 75px;
}

.header-knowledge-base,
.header-contacts,
.header-request-call {
  text-align: center;
  line-height: 75px;
  text-transform: uppercase;
  font-size: 14px;
}

.header-knowledge-base:hover,
.header-contacts:hover,
.header-request-call:hover {
  background-color: #e8e8e8;
}

.header-logo {
  background-image: url(../img/header-logo.png);
  background-repeat: no-repeat;
}

.header-knowledge-base {

}

.header-contacts {

}

.header-request-call {
  font-weight: bold;
  color: #06c007;
  text-decoration: underline;
}

.header-phone-and-city {
  padding-top: 20px;
  text-align: right;
}

.header-phone {
  font-size: 19px;
}

.header-city {
  font-size: 12px;
}

.header-row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 25px 0 25px;
}

.header-polygraphy,
.header-outdoor-advertising,
.header-souvenirs,
.header-offers {
  width: 220px;
  height: 55px;
  border: solid #f5f5f5;
  border-radius: 50px;
  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px 10px;
}

.header-polygraphy:hover,
.header-outdoor-advertising:hover,
.header-souvenirs:hover {
  background-color: #e8e8e8
}

.header-offers {
  background-color: #fe6a3c;
  color: #ffffff;
}

.header-offers:hover {
  background-color: #fa815b;
}

/*  */

.slider {
  width: 100%;
  height: 600px;
  margin: 15px 0 80px 0;
  padding: 10px;
  background-image: url(../img/slider-bg.png);
  background-position: 100%;

}

.slider-slide {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.slider-title {
  display: none;
}

.slider-title-active {
  display: block;
}

.slider-title-row-1 {
  font-family: arista_pro_trialfat;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.slider-title-row-2 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.slider-detail-and-arrows {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.slider-detail {
  width: 180px;
  height: 55px;
  border-radius: 50px;
  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fe6a3c;
  background-color: #ffffff;
  cursor: pointer;
}
.slider-detail:hover,
.slider-arrow-left-bg:hover,
.slider-arrow-right-bg:hover {
  background-color: #e8e8e8;
}

.slider-arrow-left-bg,
.slider-arrow-right-bg {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-arrow-left {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 20px;
  border-left: solid #fe6a3c 5px;
  border-bottom: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.slider-arrow-right {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 15px;
  border-right: solid #fe6a3c 5px;
  border-top: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.slider-text {
  display: none;
  width: 250px;
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

.slider-text-active {
  display: block;
}

.slider-control {
  display: flex;
  flex-wrap: wrap;
}

.slider-control-item {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5px;
}

.slider-control-item-active {
  background-color: #fe6a3c;
}

@media (min-width: 576px) {
  .slider-detail {
    width: 250px;
  }
  .slider-title-row-1 {
    font-size: 50px;
  }
  .slider-title-row-2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .slider {
    background-position: 50%;
  }
  .slider-title,
  .slider-detail,
  .slider-text {
    margin-left: 370px;
  }
}

@media (min-width: 992px) {
  .slider-title,
  .slider-detail,
  .slider-text {
    margin-left: 500px;
  }
}

@media (min-width: 1200px) {
  .slider-slide {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*  */

.services h1 {
  text-transform: uppercase;
  text-align: center;
1}

.services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-img {
  width: 55px;
  height: 55px;
  margin: 50px auto 20px auto;
  background-image: url(../img/sprite.png);
}

.services-business-cards .services-img {
  background-position: -145px -225px;
}

.services-offset-printing .services-img {
  background-position: -125px -120px;
}

.services-operational-polygraphy .services-img {
  background-position: -220px -5px;
}

.services-plastic-cards .services-img {
  background-position: -75px -230px;
}

.services-large-format-printing .services-img {
  background-position: -290px -5px;
}

.services-sign-boards .services-img {
  background-position: -220px -140px;
}

.services-tablets .services-img {
  background-position: -350px 0px;
}

.services-branding-cars .services-img {
  background-position: -210px -220px;
}

.services-souvenirs-promo .services-img {
  background-position: -285px -420px;
}

.services-souvenirs-business .services-img {
  background-position: -5px -520px;
}

.services-souvenirs-vip .services-img {
  background-position: -220px -75px;
}

.services-what-to-add .services-img {
  background-position: -290px -60px;
}

.what-to-add .services-name {
  background-color: #fe6a3c;
  color: #ffffff;
}

.services-name:hover {
  background-color: #e8e8e8
}

.what-to-add .services-name:hover {
  background-color: #fa815b;
}

.services-name {
  width: 220px;
  height: 55px;
  border: solid #f5f5f5;
  border-radius: 50px;
  text-align: center;
  line-height: 55px;
  font-size: 13px;
  margin: 5px 10px;
}

/*  */

.calculator {
  margin: 70px 0;
  background-image: url(../img/calculator-bg.png);
  background-position: 100%;
  border: solid 0.1px #fff;
}

.calculator h1{
  margin-top: 70px;
  text-transform: uppercase;
  text-align: center;
}

.calculator-text {
  margin: 30px 0 70px 0;
  text-align: center;
  font-size: 12px;
}

.calculator-container-services {
  margin-left: 20%;
  margin-bottom: 70px;
}

.calculator-choose-services {
  margin-bottom: 30px;
}

.calculator-service-number,
.calculator-service-amount {
  font-size: 18px;
  font-weight: bold;
}

.calculator-service-amount {
  margin-right: 20px;
}

.calculator-services-item {
  display: flex;
  line-height: 14px;
  margin-bottom: 30px;
  cursor: pointer;
}

.calculator-services-item:hover {
  font-weight: bold;
}

.calculator-item-circle {
  width: 24px;
  height: 24px;
  border: solid #06c007;
  border-radius: 50%;
}

.calculator-item-circle-active {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background-color: #fe6a3c;
  border: solid #ffffff;
  box-shadow: 0 0 0 3px #fe6a3c;
}

.calculator-item-name {
  margin-left: 50px;
  font-size: 12px;
  line-height: 24px;
}

.calculator-item-next {
  width: 210px;
  height: 50px;
  margin-top: 70px;
  background-color: #06c007;
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.calculator-item-next:hover {
  background-color: #67bd67;
}

@media (min-width: 576px) {
  .calculator-container-services {
    margin-left: 220px;
  }
}

@media (min-width: 768px) {
  .calculator {
    background-position: 40%;
  }
  .calculator-container-services {
    margin-left: 500px;
  }
}

@media (min-width: 992px) {
  .calculator-container-services {
    margin-left: 650px;
  }
 }

 @media (min-width: 1200px) {
   .calculator-container-services {
     margin-left: 800px;
   }
  }

/*  */

.guarantees h1{
  text-transform: uppercase;
  text-align: center;
}

.guarantees-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.guarantees-items {
  margin: auto;
}

.guarantees-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.guarantees-item-text {
  width: 300px;
  font-size: 12px;
}

.guarantees-item-text h4 {
  margin: 20px 0;
  text-transform: uppercase;
}

.guarantees-line {
  width: 130px;
  border-bottom: solid #06c007;
}

.guarantees-item-img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  background-image: url(../img/sprite.png);
}

.guarantees-item:nth-child(1) .guarantees-item-img {
  background-position: -10px -10px;
}

.guarantees-item:nth-child(2) .guarantees-item-img {
  background-position: -120px -10px;
}

.guarantees-item:nth-child(3) .guarantees-item-img {
  background-position: -10px -120px;
}

.guarantees-video {
  max-width: 500px;
  height: auto;
  margin: 30px auto;
}

.guarantees-video video {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .guarantees-item {
    flex-direction: row;
  }
  .guarantees-item-img {
    margin: 20px;
  }
 }

@media (min-width: 992px) {
  .guarantees {
    background-image: url(../img/guarantees-bg.png);
    background-repeat: no-repeat;
    background-position: 500px 5px;
  }
}

@media (min-width: 1200px) {
  .guarantees {
    background-position: 700px 5px;
  }
  .guarantees-video {
    max-width: 600px;
  }
 }

/*  */

.review {
  background-image: url(../img/review-bg-small.png);
  background-size: cover;
  padding: 60px 10px;
}

.review h1{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.review-video {
  max-width: 500px;
  height: auto;
  margin: 30px auto;
}

.review-video video {
  width: 100%;
  height: auto;
}

.review-description {
  width: 220px;
  margin: auto;
}

.review-shop,
.review-client,
.review-whattodo {
  font-size: 12px;
  color: #fff;
}

.review-price {
  margin-top: 30px;
  color: #06c007;
  font-weight: bold;
}

.review-order {
  width: 210px;
  height: 50px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  color: #06c007;
  line-height: 50px;
  cursor: pointer;
}

.review-arrow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.review-arrow-left-bg,
.review-arrow-right-bg {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.review-arrow-left-bg:hover,
.review-arrow-right-bg:hover,
.review-order:hover {
  background-color: #e8e8e8;
}

.review-arrow-left {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 20px;
  border-left: solid #06c007 5px;
  border-bottom: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.review-arrow-right {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 15px;
  border-right: solid #06c007 5px;
  border-top: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

@media (min-width: 992px) {
  .review {
    background-image: url(../img/review-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -400px;
  }
  .review-container {
    margin-bottom: 150px;
    position: relative;
  }
  .review-video {
    min-width: 509px;
    position: absolute;
    top: -44px;
    left: 95px;
  }
  .review-description {
    margin: 100px 0 0 700px;
  }
}

@media (min-width: 1200px) {
  .review {
    background-position: -160px;
    background-repeat: repeat-x;
  }
  .review-video {
    left: 335px;
  }
  .review-description {
    margin: 100px 0 0 900px;
  }
}

/*  */

.examples {
  padding: 60px 10px;
}

.examples h1{
  text-transform: uppercase;
  text-align: center;
}

.examples h1 span {
  color: #06c007;
}

.examples-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.examples-arrow-left-bg,
.examples-arrow-right-bg {
  width: 55px;
  height: 55px;
  margin: 20px;
  background-color: #efefef;
  border-radius: 50%;
  cursor: pointer;
}

.examples-arrow-left-bg:hover,
.examples-arrow-right-bg:hover {
  background-color: #e8e8e8;
}

.examples-arrow-left {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 20px;
  border-left: solid #06c007 5px;
  border-bottom: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.examples-arrow-right {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 15px;
  border-right: solid #06c007 5px;
  border-top: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.examples-item-correct,
.examples-item-wrong {
  width: 300px;
  margin: 30px 0;
}

.examples-correct-img,
.examples-wrong-img {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: cover;
}

.examples-correct-img {
  background-image: url(../img/examples-correct-bg.png);
}

.examples-wrong-img {
  background-image: url(../img/examples-wrong-bg.png);
}

.examples-correct-bg,
.examples-wrong-bg {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #efefef;
  border-radius: 50%;
}

.examples-correct-logo {
  width: 25px;
  height: 17px;
  margin: 17px 0 0 18px;
  border-left: solid #06c007 5px;
  border-bottom: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(-45deg);
}

.examples-wrong-logo {
  width: 30px;
  margin: 25px 0 0 12px;
  border-top: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.examples-wrong-logo2 {
  width: 30px;
  margin: -5px 0 0 12px;
  border-top: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(-45deg);
}

.examples-correct-text,
.examples-wrong-text {
  margin: 10px;
}

.examples-correct-text span {
  text-transform: uppercase;
  color: #06c007;
}

.examples-wrong-text span {
  text-transform: uppercase;
  color: #fe6a3c;
}

@media (min-width: 576px) {
  .examples-item-correct,
  .examples-item-wrong {
    width: 350px;
  }

  .examples-correct-img,
  .examples-wrong-img {
    position: relative;
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .examples-items {
    display: flex;
    flex-wrap: wrap;
  }
 }

@media (min-width: 992px) {
  .examples-container {
    flex-direction: row;
    justify-content: center;
  }
 }

@media (min-width: 1200px) {
  .examples-item-correct,
  .examples-item-wrong {
    margin: 30px;
  }
 }

/*  */

.free {
  padding: 70px 10px 0 10px;
  background-image: url(../img/free-bg.png);
}

.free h1{
  text-transform: uppercase;
  text-align: center;
}

.free-container {
  display: flex;
  flex-wrap: wrap;
}

.free-audit,
.free-layout,
.free-form {
  width: 300px;
  height: auto;
  margin: 70px auto;
}

.free-layout-title,
.free-audit-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.free-layout-title:hover,
.free-audit-title:hover {
  font-weight: bold;
}

.free-audit-circle,
.free-layout-circle {
  width: 24px;
  height: 24px;
  margin-right: 40px;
  border: solid #06c007;
  border-radius: 50%;
}

.free-circle-active {
  width: 20px;
  height: 20px;
  margin-right: 40px;
  background-color: #fe6a3c;
  border: solid #ffffff;
  box-shadow: 0 0 0 3px #fe6a3c;
}

.free-layout-img,
.free-audit-img {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
}

.free-layout-img {
  background-image: url(../img/free-layout-bg.png);
}

.free-audit-img {
  background-image: url(../img/free-audit-bg.png);
}

.free-form-title {
  margin: -30px auto 30px auto;
  font-size: 12px;
  text-align: center;
}

.free-form-title span {
  text-transform: uppercase;
  color: #fe6a3c;
}

.free form input[type="text"],
.free form input[type="tel"],
footer form input[type="text"],
footer form input[type="tel"] {
  margin: 10px auto;
  width: 290px;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.free form input[type="radio"] {
  display: none;
}

.free form input[type="file"] {
  font-size: 12px;
  margin: 10px auto;
  text-align: right;
}

.free form label {
  display: block;
  position: relative;
  text-align: center;
  margin: 10px auto;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.free form label span{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 20px -10px 0;
  background-image: url(../img/sprite.png);
  background-position: -360px -65px;
}

.free-form-hidden {
  width: 105px;
  height: 30px;
  position: absolute;
  top: 50px;
  background-color: #efefef;
}

.free form input[type="submit"],
footer form input[type="submit"] {
  margin: 10px auto;
  width: 290px;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  border: none;
  background-color: #fe6a3c;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.free form input[type="submit"]:hover,
footer form input[type="submit"]:hover {
  background-color: #fa815b;
}

/*  */

footer {
  padding: 70px 10px 70px 10px;
  background-image: url(../img/footer-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

footer h2{
  text-transform: uppercase;
  text-align: center;
}

.footer-container {
  width: 300px;
  margin: 70px auto;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.footer-contacts {
  width: 100%;
  height: auto;
  position: relative;
  padding: 50px 5px;
  background-color: #fff;
}

.footer-frog {
  display: none;
}

.footer-contacts h5 {
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 12px;
}

.footer-contacts-phones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
}

footer form {
  width: 100%;
  margin: auto;
}

.footer-map {
  width: 100%;
  height: 400px;
}

.footer-name-company {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

@media (min-width: 576px) {
  .footer-container {
    width: 350px;
  }
  .footer-contacts {
    padding: 50px 25px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  .footer-contacts {
    width: 50%;
  }
  .footer-map {
    width: 50%;
    height: 600px;
  }
  .footer-frog {
    display: block;
    width: 180px;
    height: 160px;
    position: absolute;
    top: -110px;
    left: 30px;
    background-image: url(../img/frog.png);
  }
 }

@media (min-width: 992px) {
  .footer-container {
    width: 800px;
  }
  .footer-contacts {
    padding: 50px 50px;
  }
 }

@media (min-width: 1200px) {
  .footer-container {
    width: 900px;
  }
  .footer-contacts {
    width: 50%;
    padding:75px;
  }
  .footer-map {
    width: 50%;
    height: 650px;
  }
 }


/*  */
/*  */

.operational-polygraphy {
  background-image: url(../img/operational-polygraphy-bg.png);
  background-repeat: no-repeat;
}

.operational-polygraphy-container {
  width: 300px;
  margin: auto;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.operational-polygraphy-description {
  width: 100%;
  padding: 30px;
  background-color: #fff;
}

.operational-polygraphy-img {
  width: 210px;
  height: 210px;
  margin: 0 auto 30px;
  background-image: url(../img/operational-polygraphy-img.png);
}

.operational-polygraphy-questions {
  width: 100%;
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/operational-polygraphy-questions-bg.png);
  background-repeat: no-repeat;
  background-color: #efefef;
  padding: 30px;
}

.operational-polygraphy-title h1 {
  font-weight: lighter;
}

.operational-polygraphy-choose-services {
  font-size: 18px;
}

.operational-polygraphy-service-number,
.operational-polygraphy-service-amount {
  font-weight: bold;
}

.operational-polygraphy-service-amount {
  margin-right: 20px;
}

.operational-polygraphy-services-item {
  display: flex;
  line-height: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.operational-polygraphy-services-item:hover {
  font-weight: bold;
}

.operational-polygraphy-item-circle {
  width: 24px;
  height: 24px;
  border: solid #06c007;
  border-radius: 50%;
}

.operational-polygraphy-item-circle-active {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background-color: #fe6a3c;
  border: solid #ffffff;
  box-shadow: 0 0 0 3px #fe6a3c;
}

.operational-polygraphy-item-name {
  margin-left: 50px;
  font-size: 12px;
  line-height: 24px;
}

.operational-polygraphy-next {
  width: 210px;
  height: 50px;
  background-color: #06c007;
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.operational-polygraphy-next:hover {
  background-color: #67bd67;
}

@media (min-width: 576px) {
  .operational-polygraphy-container {
    width: 400px;
  }
  .operational-polygraphy-description,
  .operational-polygraphy-questions {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  .operational-polygraphy-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  .operational-polygraphy-description,
  .operational-polygraphy-questions {
    width: 50%;
    padding: 40px 40px 80px 40px;
  }
 }

 @media (min-width: 992px) {
   .operational-polygraphy-container {
     width: 800px;
   }
   .operational-polygraphy-description,
   .operational-polygraphy-questions {
     padding: 50px 50px 80px 50px;
   }
  }

 @media (min-width: 1200px) {
   .operational-polygraphy-container {
     width: 900px;
   }
   .operational-polygraphy-description,
   .operational-polygraphy-questions {
     padding: 60px 60px 80px 60px;
   }
  }






@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }
