body {
  font-family: lucida_granderegular;
}

a,
a:hover  {
  color: #000;
  text-decoration: none;
}

header {
  margin-bottom: 20px;
}

.header-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 25px 0 25px;
}

.header-logo,
.header-knowledge-base,
.header-contacts,
.header-request-call,
.header-phone-and-city {
  width: 190px;
  height: 75px;
}

.header-knowledge-base,
.header-contacts,
.header-request-call {
  text-align: center;
  line-height: 75px;
  text-transform: uppercase;
  font-size: 14px;
}

.header-knowledge-base:hover,
.header-contacts:hover,
.header-request-call:hover {
  background-color: #e8e8e8;
}

.header-logo {
  background-image: url(../img/header-logo.png);
  background-repeat: no-repeat;
}

.header-knowledge-base {

}

.header-contacts {

}

.header-request-call {
  font-weight: bold;
  color: #06c007;
  text-decoration: underline;
}

.header-phone-and-city {
  padding-top: 20px;
  text-align: right;
}

.header-phone {
  font-size: 19px;
}

.header-city {
  font-size: 12px;
}

.header-row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 25px 0 25px;
}

.header-polygraphy,
.header-outdoor-advertising,
.header-souvenirs,
.header-offers {
  width: 220px;
  height: 55px;
  border: solid #f5f5f5;
  border-radius: 50px;
  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px 10px;
}

.header-polygraphy:hover,
.header-outdoor-advertising:hover,
.header-souvenirs:hover {
  background-color: #e8e8e8
}

.header-offers {
  background-color: #fe6a3c;
  color: #ffffff;
}

.header-offers:hover {
  background-color: #fa815b;
}

/*  */

.slider {
  width: 100%;
  height: 600px;
  margin: 15px 0 80px 0;
  padding: 10px;
  background-image: url(../img/slider-bg.png);
  background-position: 100%;
}

.slider-slide {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.slider-title {
  display: none;
}

.slider-title-active {
  display: block;
}

.slider-title-row-1 {
  font-family: arista_pro_trialfat;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.slider-title-row-2 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.slider-detail-and-arrows {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.slider-detail {
  width: 180px;
  height: 55px;
  border-radius: 50px;
  text-align: center;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fe6a3c;
  background-color: #ffffff;
  cursor: pointer;
}
.slider-detail:hover,
.slider-arrow-left-bg:hover,
.slider-arrow-right-bg:hover {
  background-color: #e8e8e8;
}

.slider-arrow-left-bg,
.slider-arrow-right-bg {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-arrow-left {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 20px;
  border-left: solid #fe6a3c 5px;
  border-bottom: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.slider-arrow-right {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 15px;
  border-right: solid #fe6a3c 5px;
  border-top: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.slider-text {
  display: none;
  width: 250px;
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

.slider-text-active {
  display: block;
}

.slider-control {
  display: flex;
  flex-wrap: wrap;
}

.slider-control-item {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5px;
}

.slider-control-item-active {
  background-color: #fe6a3c;
}

@media (min-width: 576px) {
  .slider-detail {
    width: 250px;
  }
  .slider-title-row-1 {
    font-size: 50px;
  }
  .slider-title-row-2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .slider {
    background-position: 50%;
  }
  .slider-title,
  .slider-detail,
  .slider-text {
    margin-left: 370px;
  }
}

@media (min-width: 992px) {
  .slider-title,
  .slider-detail,
  .slider-text {
    margin-left: 500px;
  }
}

@media (min-width: 1200px) {
  .slider-slide {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*  */

.services h1 {
  text-transform: uppercase;
  text-align: center;
1}

.services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-img {
  width: 55px;
  height: 55px;
  margin: 50px auto 20px auto;
  background-image: url(../img/sprite.png);
}

.services-business-cards .services-img {
  background-position: -145px -225px;
}

.services-offset-printing .services-img {
  background-position: -125px -120px;
}

.services-operational-polygraphy .services-img {
  background-position: -220px -5px;
}

.services-plastic-cards .services-img {
  background-position: -75px -230px;
}

.services-large-format-printing .services-img {
  background-position: -290px -5px;
}

.services-sign-boards .services-img {
  background-position: -220px -140px;
}

.services-services-tablets .services-img {
  background-position: -350px 0px;
}

.services-branding-cars .services-img {
  background-position: -210px -220px;
}

.services-souvenirs-promo .services-img {
  background-position: -285px -420px;
}

.services-souvenirs-business .services-img {
  background-position: -5px -520px;
}

.services-souvenirs-vip .services-img {
  background-position: -220px -75px;
}

.services-what-to-add .services-img {
  background-position: -290px -60px;
}

.what-to-add .services-name {
  background-color: #fe6a3c;
  color: #ffffff;
}

.services-name:hover {
  background-color: #e8e8e8
}

.what-to-add .services-name:hover {
  background-color: #fa815b;
}

.services-name {
  width: 220px;
  height: 55px;
  border: solid #f5f5f5;
  border-radius: 50px;
  text-align: center;
  line-height: 55px;
  font-size: 13px;
  margin: 5px 10px;
}

/*  */

.calculator {
  margin: 70px 0;
  background-image: url(../img/calculator-bg.png);
  background-repeat: no-repeat;
  background-position: 100%;
  border: solid 0.1px #fff;
}

.calculator h1{
  margin-top: 70px;
  text-transform: uppercase;
  text-align: center;
}

.calculator-text {
  margin: 30px 0 70px 0;
  text-align: center;
  font-size: 12px;
}

.calculator-container-services {
  margin-left: 20%;
  margin-bottom: 70px;
}

.calculator-choose-services {
  margin-bottom: 30px;
}

.calculator-service-number,
.calculator-service-amount {
  font-size: 18px;
  font-weight: bold;
}

.calculator-service-amount {
  margin-right: 20px;
}

.calculator-services-item {
  display: flex;
  line-height: 14px;
  margin-bottom: 30px;
  cursor: pointer;
}

.calculator-services-item:hover {
  font-weight: bold;
}

.calculator-item-circle {
  width: 24px;
  height: 24px;
  border: solid #06c007;
  border-radius: 50%;
}

.calculator-item-circle-active {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background-color: #fe6a3c;
  border: solid #ffffff;
  box-shadow: 0 0 0 3px #fe6a3c;
}

.calculator-item-name {
  margin-left: 50px;
  font-size: 12px;
  line-height: 24px;
}

.calculator-item-next {
  width: 210px;
  height: 50px;
  margin-top: 70px;
  background-color: #06c007;
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.calculator-item-next:hover {
  background-color: #67bd67;
}

@media (min-width: 576px) {
  .calculator-container-services {
    margin-left: 220px;
  }
}

@media (min-width: 768px) {
  .calculator {
    background-position: 40%;
  }
  .calculator-container-services {
    margin-left: 500px;
  }
}

@media (min-width: 992px) {
  .calculator-container-services {
    margin-left: 650px;
  }
 }

 @media (min-width: 1200px) {
   .calculator-container-services {
     margin-left: 800px;
   }
  }

/*  */

.guarantees h1{
  text-transform: uppercase;
  text-align: center;
}

.guarantees-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.guarantees-items {
  margin: 0 auto;
}

.guarantees-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.guarantees-item-text {
  width: 300px;
  font-size: 12px;
}

.guarantees-item-text h4 {
  margin: 20px 0;
  text-transform: uppercase;
}

.guarantees-line {
  width: 130px;
  border-bottom: solid #06c007;
}

.guarantees-item-img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  background-image: url(../img/sprite.png);
}

.guarantees-item:nth-child(1) .guarantees-item-img {
  background-position: -10px -10px;
}

.guarantees-item:nth-child(2) .guarantees-item-img {
  background-position: -120px -10px;
}

.guarantees-item:nth-child(3) .guarantees-item-img {
  background-position: -10px -120px;
}

.guarantees-video {
  max-width: 500px;
  height: auto;
  margin: 30px auto;
}

.guarantees-video video {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .guarantees-item {
    flex-direction: row;
  }
  .guarantees-item-img {
    margin: 20px;
  }
 }

@media (min-width: 992px) {
  .guarantees {
    background-image: url(../img/guarantees-bg.png);
    background-repeat: no-repeat;
    background-position: 500px -25px;
    margin-bottom: -25px;
  }
}

@media (min-width: 1200px) {
  .guarantees {
    background-position: 700px 5px;
  }
  .guarantees-video {
    max-width: 600px;
  }
 }

/*  */

.review {
  background-image: url(../img/review-bg-small.png);
  background-size: cover;
  padding: 60px 10px;
}

.review h1{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.review-video {
  max-width: 500px;
  height: auto;
  margin: 30px auto;
}

.review-video video {
  width: 100%;
  height: auto;
}

.review-description {
  width: 220px;
  margin: auto;
}

.review-shop,
.review-client,
.review-whattodo {
  font-size: 12px;
  color: #fff;
}

.review-price {
  margin-top: 30px;
  color: #06c007;
  font-weight: bold;
}

.review-order {
  width: 210px;
  height: 50px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  color: #06c007;
  line-height: 50px;
  cursor: pointer;
}

.review-arrow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.review-arrow-left-bg,
.review-arrow-right-bg {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.review-arrow-left-bg:hover,
.review-arrow-right-bg:hover,
.review-order:hover {
  background-color: #e8e8e8;
}

.review-arrow-left {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 20px;
  border-left: solid #06c007 5px;
  border-bottom: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.review-arrow-right {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 15px;
  border-right: solid #06c007 5px;
  border-top: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

@media (min-width: 992px) {
  .review {
    background-image: url(../img/review-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -400px;
  }
  .review-container {
    margin-bottom: 150px;
    position: relative;
  }
  .review-video {
    min-width: 509px;
    position: absolute;
    top: -44px;
    left: 95px;
  }
  .review-description {
    margin: 100px 0 0 700px;
  }
}

@media (min-width: 1200px) {
  .review {
    background-position: -160px;
    background-repeat: repeat-x;
  }
  .review-video {
    left: 335px;
  }
  .review-description {
    margin: 100px 0 0 900px;
  }
}

/*  */

.examples {
  padding: 60px 10px;
}

.examples h1{
  text-transform: uppercase;
  text-align: center;
}

.examples h1 span {
  color: #06c007;
}

.examples-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.examples-arrow-left-bg,
.examples-arrow-right-bg {
  width: 55px;
  height: 55px;
  margin: 20px;
  background-color: #efefef;
  border-radius: 50%;
  cursor: pointer;
}

.examples-arrow-left-bg:hover,
.examples-arrow-right-bg:hover {
  background-color: #e8e8e8;
}

.examples-arrow-left {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 20px;
  border-left: solid #06c007 5px;
  border-bottom: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.examples-arrow-right {
  width: 20px;
  height: 20px;
  margin: 17px 0 0 15px;
  border-right: solid #06c007 5px;
  border-top: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.examples-item-correct,
.examples-item-wrong {
  width: 300px;
  margin: 30px 0;
}

.examples-correct-img,
.examples-wrong-img {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: cover;
}

.examples-correct-img {
  background-image: url(../img/examples-correct-bg.png);
}

.examples-wrong-img {
  background-image: url(../img/examples-wrong-bg.png);
}

.examples-correct-bg,
.examples-wrong-bg {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #efefef;
  border-radius: 50%;
}

.examples-correct-logo {
  width: 25px;
  height: 17px;
  margin: 17px 0 0 18px;
  border-left: solid #06c007 5px;
  border-bottom: solid #06c007 5px;
  border-radius: 3px;
  transform: rotate(-45deg);
}

.examples-wrong-logo {
  width: 30px;
  margin: 25px 0 0 12px;
  border-top: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(45deg);
}

.examples-wrong-logo2 {
  width: 30px;
  margin: -5px 0 0 12px;
  border-top: solid #fe6a3c 5px;
  border-radius: 3px;
  transform: rotate(-45deg);
}

.examples-correct-text,
.examples-wrong-text {
  margin: 10px;
}

.examples-correct-text span {
  text-transform: uppercase;
  color: #06c007;
}

.examples-wrong-text span {
  text-transform: uppercase;
  color: #fe6a3c;
}

@media (min-width: 576px) {
  .examples-item-correct,
  .examples-item-wrong {
    width: 350px;
  }

  .examples-correct-img,
  .examples-wrong-img {
    position: relative;
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .examples-items {
    display: flex;
    flex-wrap: wrap;
  }
 }

@media (min-width: 992px) {
  .examples-container {
    flex-direction: row;
    justify-content: center;
  }
 }

@media (min-width: 1200px) {
  .examples-item-correct,
  .examples-item-wrong {
    margin: 30px;
  }
 }

/*  */

.free {
  padding: 70px 10px 0 10px;
  background-image: url(../img/free-bg.png);
}

.free h1{
  text-transform: uppercase;
  text-align: center;
}

.free-container {
  display: flex;
  flex-wrap: wrap;
}

.free-audit,
.free-layout,
.free-form {
  width: 300px;
  height: auto;
  margin: 70px auto;
}

.free-layout-title,
.free-audit-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.free-layout-title:hover,
.free-audit-title:hover {
  font-weight: bold;
}

.free-audit-circle,
.free-layout-circle {
  width: 24px;
  height: 24px;
  margin-right: 40px;
  border: solid #06c007;
  border-radius: 50%;
}

.free-circle-active {
  width: 20px;
  height: 20px;
  margin-right: 40px;
  background-color: #fe6a3c;
  border: solid #ffffff;
  box-shadow: 0 0 0 3px #fe6a3c;
}

.free-layout-img,
.free-audit-img {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
}

.free-layout-img {
  background-image: url(../img/free-layout-bg.png);
}

.free-audit-img {
  background-image: url(../img/free-audit-bg.png);
}

.free-form-title {
  margin: -30px auto 30px auto;
  font-size: 12px;
  text-align: center;
}

.free-form-title span {
  text-transform: uppercase;
  color: #fe6a3c;
}

.free form input[type="text"],
.free form input[type="tel"],
footer form input[type="text"],
footer form input[type="tel"] {
  margin: 10px auto;
  width: 290px;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.free form input[type="radio"] {
  display: none;
}

.free form input[type="file"] {
  font-size: 12px;
  margin: 10px auto;
  text-align: right;
}

.free form label {
  display: block;
  position: relative;
  text-align: center;
  margin: 10px auto;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.free form label span{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 20px -10px 0;
  background-image: url(../img/sprite.png);
  background-position: -360px -65px;
}

.free-form-hidden {
  width: 105px;
  height: 30px;
  position: absolute;
  top: 50px;
  background-color: #efefef;
}

.free form input[type="submit"],
footer form input[type="submit"] {
  margin: 10px auto;
  width: 290px;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  border: none;
  background-color: #fe6a3c;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.free form input[type="submit"]:hover,
footer form input[type="submit"]:hover {
  background-color: #fa815b;
}

/*  */

footer {
  padding: 70px 10px 70px 10px;
  background-image: url(../img/footer-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

footer h2{
  text-transform: uppercase;
  text-align: center;
}

.footer-container {
  width: 300px;
  margin: 70px auto;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.footer-contacts {
  width: 100%;
  height: auto;
  position: relative;
  padding: 50px 5px;
  background-color: #fff;
}

.footer-frog {
  display: none;
}

.footer-contacts h5 {
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 12px;
}

.footer-contacts-phones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 12px;
}

footer form {
  width: 100%;
  margin: auto;
}

.footer-map {
  width: 100%;
  height: 400px;
}

.footer-name-company {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

@media (min-width: 576px) {
  .footer-container {
    width: 350px;
  }
  .footer-contacts {
    padding: 50px 25px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  .footer-contacts {
    width: 50%;
  }
  .footer-map {
    width: 50%;
    height: 600px;
  }
  .footer-frog {
    display: block;
    width: 180px;
    height: 160px;
    position: absolute;
    top: -110px;
    left: 30px;
    background-image: url(../img/frog.png);
  }
 }

@media (min-width: 992px) {
  .footer-container {
    width: 800px;
  }
  .footer-contacts {
    padding: 50px 50px;
  }
 }

@media (min-width: 1200px) {
  .footer-container {
    width: 900px;
  }
  .footer-contacts {
    width: 50%;
    padding:75px;
  }
  .footer-map {
    width: 50%;
    height: 650px;
  }
 }


/*  */
/*  */

.business-cards,
.offset-printing,
.branding-cars,
.services-tablets,
.souvenirs-business {
  background-repeat: no-repeat;
}

.operational-polygraphy,
.plastic-cards,
.sign-boards,
.format-printing,
.souvenirs-promo,
.souvenirs-vip {
  padding-top: 50px;
}

.operational-polygraphy,
.sign-boards,
.souvenirs-promo {
  background-image: url(../img/operational-polygraphy-bg.png);
}

.business-cards,
.offset-printing,
.branding-cars,
.services-tablets,
.souvenirs-business {
  padding-top: 170px;
}

.business-cards,
.branding-cars,
.souvenirs-business {
  background-image: url(../img/business-cards-bg.png);
}

.offset-printing,
.services-tablets {
  background-image: url(../img/offset-printing-bg.png);
}

.operational-polygraphy-container,
.plastic-cards-container,
.sign-boards-container,
.format-printing-container,
.souvenirs-promo-container,
.souvenirs-vip-container {
  width: 300px;
  margin: 0 auto -150px auto;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
  position: relative;
  z-index: 1000;
}

.business-cards-container,
.offset-printing-container,
.branding-cars-container,
.services-tablets-container,
.souvenirs-business-container {
  width: 300px;
  position: relative;
  z-index: 0;
}

.business-cards-container,
.branding-cars-container,
.souvenirs-business-container {
  margin: 20px auto 0px auto;
}

.offset-printing-container,
.services-tablets-container {
  margin: 150px auto 0px auto;
}

.operational-polygraphy-description,
.plastic-cards-description,
.sign-boards-description,
.format-printing-description,
.souvenirs-promo-description,
.souvenirs-vip-description {
  background-color: #fff;
}

.operational-polygraphy-description,
.business-cards-description,
.plastic-cards-description,
.offset-printing,
.sign-boards-description,
.branding-cars-description,
.format-printing-description,
.services-tablets,
.souvenirs-promo-description,
.souvenirs-business-description,
.souvenirs-vip-description {
  width: 100%;
  padding: 30px 10px;
  position: relative;
}

.plastic-cards-description,
.format-printing-description,
.souvenirs-vip-description {
  background-color: #06c007;
}

.operational-polygraphy-img,
.business-cards-img,
.plastic-cards-img,
.offset-printing-img,
.sign-boards-img,
.branding-cars-img,
.format-printing-img,
.services-tablets-img,
.souvenirs-promo-img,
.souvenirs-business-img,
.souvenirs-vip-img {
  width: 210px;
  height: 210px;
  margin: 0 auto 30px;
}

.operational-polygraphy-img {
  background-image: url(../img/operational-polygraphy-img.png);
}

.souvenirs-promo-img {
  background-image: url(../img/souvenirs-promo-img.png);
}

.sign-boards-img {
  background-image: url(../img/sign-boards-img.png);
}

.plastic-cards-img {
  background-image: url(../img/plastic-cards-img.png);
}

.souvenirs-vip-img {
  background-image: url(../img/souvenirs-vip-img.png);
}

.format-printing-img {
  background-image: url(../img/format-printing-img.png);
}

.business-cards-img {
  background-image: url(../img/business-cards-img.png);
}

.souvenirs-business-img {
  background-image: url(../img/souvenirs-business-img.png);
}

.branding-cars-img {
  background-image: url(../img/branding-cars-img.png);
}

.offset-printing-img {
  background-image: url(../img/offset-printing-img.png);
}

.services-tablets-img {
  background-image: url(../img/services-tablets-img.png);
}

.operational-polygraphy-arrow-green,
.business-cards-arrow-orange,
.plastic-cards-arrow-green,
.offset-printing-arrow-orange,
.sign-boards-arrow-green,
.branding-cars-arrow-orange,
.format-printing-arrow-green,
.services-tablets-arrow-orange,
.souvenirs-promo-arrow-green,
.souvenirs-business-arrow-orange,
.souvenirs-vip-arrow-green {
  display: none;
  width: 135px;
  height: 40px;
  position: absolute;
  background-repeat: no-repeat;
}

.operational-polygraphy-arrow-green,
.plastic-cards-arrow-green,
.sign-boards-arrow-green,
.format-printing-arrow-green,
.souvenirs-promo-arrow-green,
.souvenirs-vip-arrow-green {
  background-image: url(../img/arrow-green.png);
  left: 350px;
  bottom: 30px;
}

.business-cards-arrow-orange,
.offset-printing-arrow-orange,
.branding-cars-arrow-orange,
.services-tablets-arrow-orange,
.souvenirs-business-arrow-orange {
  background-image: url(../img/arrow-orange.png);
  right: 450px;
  bottom: 30px;
}

.operational-polygraphy-questions,
.business-cards-questions,
.plastic-cards-questions,
.offset-printing-questions,
.sign-boards-questions,
.branding-cars-questions,
.format-printing-questions,
.services-tablets-questions,
.souvenirs-promo-questions,
.souvenirs-business-questions,
.souvenirs-vip-questions {
  width: 100%;
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 10px;
}

.operational-polygraphy-questions,
.plastic-cards-questions,
.sign-boards-questions,
.format-printing-questions,
.souvenirs-promo-questions,
.souvenirs-vip-questions {
  background-repeat: no-repeat;
}

.operational-polygraphy-questions,
.sign-boards-questions,
.souvenirs-promo-questions {
  background-image: url(../img/operational-polygraphy-questions-bg.png);
  background-color: #efefef;
}

.plastic-cards-questions,
.format-printing-questions,
.souvenirs-vip-questions {
  background-image: url(../img/plastic-cards-questions-bg.png);
  background-color: #fff;
  background-position: 100% 10%;
}

.operational-polygraphy-title h1,
.business-cards-title h1,
.plastic-cards-title h1,
.offset-printing-title h1,
.sign-boards-title h1,
.branding-cars-title h1,
.format-printing-title h1,
.services-tablets-title h1,
.souvenirs-promo-title h1,
.souvenirs-business-title h1,
.souvenirs-vip-title h1 {
  font-weight: lighter;
}

.operational-polygraphy-choose-services,
.business-cards-choose-services,
.plastic-cards-choose-services,
.offset-printing-choose-services,
.sign-boards-choose-services,
.branding-cars-choose-services,
.format-printing-choose-services,
.services-tablets-choose-services,
.souvenirs-promo-choose-services,
.souvenirs-business-choose-services,
.souvenirs-vip-choose-services {
  font-size: 18px;
}

.operational-polygraphy-service-number,
.operational-polygraphy-service-amount,
.business-cards-service-number,
.business-cards-service-amount,
.plastic-cards-service-number,
.plastic-cards-service-amount,
.offset-printing-service-number,
.offset-printing-service-amount,
.sign-boards-service-number,
.sign-boards-service-amount,
.branding-cars-service-number,
.branding-cars-service-amount,
.format-printing-service-number,
.format-printing-service-amount,
.services-tablets-service-number,
.services-tablets-service-amount,
.souvenirs-promo-service-number,
.souvenirs-promo-service-amount,
.souvenirs-business-service-number,
.souvenirs-business-service-amount,
.souvenirs-vip-service-number,
.souvenirs-vip-service-amount {
  font-weight: bold;
}

.operational-polygraphy-service-amount,
.business-cards-service-amount,
.plastic-cards-service-amount,
.offset-printing-service-amount,
.sign-boards-service-amount,
.branding-cars-service-amount,
.format-printing-service-amount,
.services-tablets-service-amount,
.souvenirs-promo-service-amount,
.souvenirs-business-service-amount,
.souvenirs-vip-service-amount {
  margin-right: 20px;
}

.operational-polygraphy-services-item,
.business-cards-services-item,
.plastic-cards-services-item,
.offset-printing-services-item,
.sign-boards-services-item,
.branding-cars-services-item,
.format-printing-services-item,
.services-tablets-services-item,
.souvenirs-promo-services-item,
.souvenirs-business-services-item,
.souvenirs-vip-services-item {
  display: flex;
  line-height: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.operational-polygraphy-services-item:hover,
.business-cards-services-item:hover,
.plastic-cards-services-item:hover,
.offset-printing-services-item:hover,
.sign-boards-services-item:hover,
.branding-cars-services-item:hover,
.format-printing-services-item:hover,
.services-tablets-services-item:hover,
.souvenirs-promo-services-item:hover,
.souvenirs-business-services-item:hover,
.souvenirs-vip-services-item:hover {
  font-weight: bold;
}

.operational-polygraphy-item-circle,
.business-cards-item-circle,
.plastic-cards-item-circle,
.offset-printing-item-circle,
.sign-boards-item-circle,
.branding-cars-item-circle,
.format-printing-item-circle,
.services-tablets-item-circle,
.souvenirs-promo-item-circle,
.souvenirs-business-item-circle,
.souvenirs-vip-item-circle {
  min-width: 24px;
  height: 24px;
  border: solid #06c007;
  border-radius: 50%;
}

.operational-polygraphy-item-circle[data-checked="true"],
.business-cards-item-circle[data-checked="true"],
.plastic-cards-item-circle[data-checked="true"],
.offset-printing-item-circle[data-checked="true"],
.sign-boards-item-circle[data-checked="true"],
.branding-cars-item-circle[data-checked="true"],
.format-printing-item-circle[data-checked="true"],
.services-tablets-item-circle[data-checked="true"],
.souvenirs-promo-item-circle[data-checked="true"],
.souvenirs-business-item-circle[data-checked="true"],
.souvenirs-vip-item-circle[data-checked="true"] {
  min-width: 20px;
  height: 20px;
  margin-right: 3px;
  background-color: #fe6a3c;
  border: solid #ffffff;
  box-shadow: 0 0 0 3px #fe6a3c;
}

.operational-polygraphy-item-name,
.business-cards-item-name,
.plastic-cards-item-name,
.offset-printing-item-name,
.sign-boards-item-name,
.branding-cars-item-name,
.format-printing-item-name,
.services-tablets-item-name,
.souvenirs-promo-item-name,
.souvenirs-business-item-name,
.souvenirs-vip-item-name {
  margin-left: 50px;
  font-size: 12px;
  line-height: 24px;
}

.operational-polygraphy-next,
.plastic-cards-next,
.sign-boards-next,
.format-printing-next,
.souvenirs-promo-next,
.souvenirs-vip-next {
  background-color: #06c007;
}

.business-cards-next,
.offset-printing-next,
.branding-cars-next,
.services-tablets-next,
.souvenirs-business-next {
  background-color: #fe6a3c;
}

.operational-polygraphy-next,
.business-cards-next,
.plastic-cards-next,
.offset-printing-next,
.sign-boards-next,
.branding-cars-next,
.format-printing-next,
.services-tablets-next,
.souvenirs-promo-next,
.souvenirs-business-next,
.souvenirs-vip-next {
  width: 210px;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.operational-polygraphy-next:hover,
.plastic-cards-next:hover,
.sign-boards-next:hover,
.format-printing-next:hover,
.souvenirs-promo-next:hover,
.souvenirs-vip-next:hover {
  background-color: #67bd67;
}

.business-cards-next:hover,
.offset-printing-next:hover,
.branding-cars-next:hover,
.services-tablets-next:hover,
.souvenirs-business-next:hover {
  background-color: #fa815b;
}

.operational-polygraphy form input[type="text"],
.operational-polygraphy form input[type="tel"],
.business-cards form input[type="text"],
.business-cards form input[type="tel"],
.plastic-cards form input[type="text"],
.plastic-cards form input[type="tel"],
.offset-printing form input[type="text"],
.offset-printing form input[type="tel"],
.sign-boards form input[type="text"],
.sign-boards form input[type="tel"],
.branding-cars form input[type="text"],
.branding-cars form input[type="tel"],
.format-printing form input[type="text"],
.format-printing form input[type="tel"],
.services-tablets form input[type="text"],
.services-tablets form input[type="tel"],
.souvenirs-promo form input[type="text"],
.souvenirs-promo form input[type="tel"],
.souvenirs-business form input[type="text"],
.souvenirs-business form input[type="tel"],
.souvenirs-vip form input[type="text"],
.souvenirs-vip form input[type="tel"] {
  margin: 10px auto;
  width: 100%;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.operational-polygraphy textarea,
.business-cards textarea,
.plastic-cards textarea,
.offset-printing textarea,
.sign-boards textarea,
.branding-cars textarea,
.format-printing textarea,
.services-tablets textarea,
.souvenirs-promo textarea,
.souvenirs-business textarea,
.souvenirs-vip textarea {
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  border: none;
  font-size: 12px;
  box-shadow: 0px 0px 1px 1px #c7c7c7;
}

.operational-polygraphy form input[type="file"],
.business-cards form input[type="file"],
.plastic-cards form input[type="file"],
.offset-printing form input[type="file"],
.sign-boards form input[type="file"],
.branding-cars form input[type="file"],
.format-printing form input[type="file"],
.services-tablets form input[type="file"],
.souvenirs-promo form input[type="file"],
.souvenirs-business form input[type="file"],
.souvenirs-vip form input[type="file"] {
  font-size: 12px;
  margin: 10px auto;
  text-align: right;
}

.operational-polygraphy form label,
.business-cards form label,
.plastic-cards form label,
.offset-printing form label,
.sign-boards form label,
.branding-cars form label,
.format-printing form label,
.services-tablets form label,
.souvenirs-promo form label,
.souvenirs-business form label,
.souvenirs-vip form label  {
  display: block;
  position: relative;
  text-align: center;
  margin: 10px auto;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.operational-polygraphy form label span,
.business-cards form label span,
.plastic-cards form label span,
.offset-printing form label span,
.sign-boards form label span,
.branding-cars form label span,
.format-printing form label span,
.services-tablets form label span,
.souvenirs-promo form label span,
.souvenirs-business form label span,
.souvenirs-vip form label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 20px -10px 0;
  background-image: url(../img/sprite.png);
  background-position: -360px -65px;
}

.operational-polygraphy-form-hidden,
.business-cards-form-hidden,
.plastic-cards-form-hidden,
.offset-printing-form-hidden,
.sign-boards-form-hidden,
.branding-cars-form-hidden,
.format-printing-form-hidden,
.services-tablets-form-hidden,
.souvenirs-promo-form-hidden,
.souvenirs-business-form-hidden,
.souvenirs-vip-form-hidden {
  width: 105px;
  height: 30px;
  position: absolute;
  top: 48px;
}

.operational-polygraphy-form-hidden,
.sign-boards-form-hidden,
.souvenirs-promo-form-hidden {
  background-color: #efefef;
}

.business-cards-form-hidden,
.offset-printing-form-hidden,
.plastic-cards-form-hidden,
.branding-cars-form-hidden,
.format-printing-form-hidden,
.services-tablets-form-hidden,
.souvenirs-business-form-hidden,
.souvenirs-vip-form-hidden {
  background-color: #fff;
}

.operational-polygraphy form input[type="submit"],
.business-cards form input[type="submit"],
.plastic-cards form input[type="submit"],
.offset-printing form input[type="submit"],
.sign-boards form input[type="submit"],
.branding-cars form input[type="submit"],
.format-printing form input[type="submit"],
.services-tablets form input[type="submit"],
.souvenirs-promo form input[type="submit"],
.souvenirs-business form input[type="submit"],
.souvenirs-vip form input[type="submit"] {
  margin: 10px auto;
  width: 100%;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.operational-polygraphy form input[type="submit"],
.plastic-cards form input[type="submit"],
.sign-boards form input[type="submit"],
.format-printing form input[type="submit"],
.souvenirs-promo form input[type="submit"],
.souvenirs-vip form input[type="submit"] {
  background-color: #06c007;
}

.business-cards form input[type="submit"],
.offset-printing form input[type="submit"],
.branding-cars form input[type="submit"],
.services-tablets form input[type="submit"],
.souvenirs-business form input[type="submit"] {
  background-color: #fe6a3c;
}

.operational-polygraphy form input[type="submit"]:hover,
.plastic-cards form input[type="submit"]:hover,
.sign-boards form input[type="submit"]:hover,
.format-printing form input[type="submit"]:hover,
.souvenirs-promo form input[type="submit"]:hover,
.souvenirs-vip form input[type="submit"]:hover {
  background-color: #67bd67;
}

.business-cards form input[type="submit"]:hover,
.offset-printing form input[type="submit"]:hover,
.branding-cars form input[type="submit"]:hover,
.services-tablets form input[type="submit"]:hover,
.souvenirs-business form input[type="submit"]:hover {
  background-color: #fa815b;
}

@media (min-width: 576px) {
  .operational-polygraphy-container,
  .business-cards-container,
  .plastic-cards-container,
  .offset-printing-container,
  .sign-boards-container,
  .branding-cars-container,
  .format-printing-container,
  .services-tablets-container,
  .souvenirs-promo-container,
  .souvenirs-business-container,
  .souvenirs-vip-container {
    width: 400px;
  }
  .operational-polygraphy-description,
  .operational-polygraphy-questions,
  .business-cards-description,
  .business-cards-questions,
  .plastic-cards-description,
  .plastic-cards-questions,
  .offset-printing-description,
  .offset-printing-questions,
  .sign-boards-description,
  .sign-boards-questions,
  .branding-cars-description,
  .branding-cars-questions,
  .format-printing-description,
  .format-printing-questions,
  .services-tablets-description,
  .services-tablets-questions,
  .souvenirs-promo-description,
  .souvenirs-promo-questions,
  .souvenirs-business-description,
  .souvenirs-business-questions,
  .souvenirs-vip-description,
  .souvenirs-vip-questions {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  .operational-polygraphy-container,
  .business-cards-container,
  .plastic-cards-container,
  .offset-printing-container,
  .sign-boards-container,
  .branding-cars-container,
  .format-printing-container,
  .services-tablets-container,
  .souvenirs-promo-container,
  .souvenirs-business-container,
  .souvenirs-vip-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  .operational-polygraphy-description,
  .operational-polygraphy-questions,
  .business-cards-description,
  .business-cards-questions,
  .plastic-cards-description,
  .plastic-cards-questions,
  .offset-printing-description,
  .offset-printing-questions,
  .sign-boards-description,
  .sign-boards-questions,
  .branding-cars-description,
  .branding-cars-questions,
  .format-printing-description,
  .format-printing-questions,
  .services-tablets-description,
  .services-tablets-questions,
  .souvenirs-promo-description,
  .souvenirs-promo-questions,
  .souvenirs-business-description,
  .souvenirs-business-questions,
  .souvenirs-vip-description,
  .souvenirs-vip-questions {
    width: 50%;
  }
 }

 @media (min-width: 992px) {
   .operational-polygraphy-container,
   .business-cards-container,
   .plastic-cards-container,
   .offset-printing-container,
   .sign-boards-container,
   .branding-cars-container,
   .format-printing-container,
   .services-tablets-container,
   .souvenirs-promo-container,
   .souvenirs-business-container,
   .souvenirs-vip-container {
     width: 900px;
   }

   .operational-polygraphy-arrow-green,
   .business-cards-arrow-orange,
   .plastic-cards-arrow-green,
   .offset-printing-arrow-orange,
   .sign-boards-arrow-green,
   .branding-cars-arrow-orange,
   .format-printing-arrow-green,
   .services-tablets-arrow-orange,
   .souvenirs-promo-arrow-green,
   .souvenirs-business-arrow-orange,
   .souvenirs-vip-arrow-green {
     display: block;
   }

   .operational-polygraphy-description,
   .operational-polygraphy-questions,
   .business-cards-description,
   .business-cards-questions,
   .plastic-cards-description,
   .plastic-cards-questions,
   .offset-printing-description,
   .offset-printing-questions,
   .sign-boards-description,
   .sign-boards-questions,
   .branding-cars-description,
   .branding-cars-questions,
   .format-printing-description,
   .format-printing-questions,
   .services-tablets-description,
   .services-tablets-questions,
   .souvenirs-promo-description,
   .souvenirs-promo-questions,
   .souvenirs-business-description,
   .souvenirs-business-questions,
   .souvenirs-vip-description,
   .souvenirs-vip-questions {
     padding: 50px 50px 80px 50px;
   }
  }

 @media (min-width: 1200px) {
   .operational-polygraphy-container,
   .business-cards-container,
   .plastic-cards-container,
   .offset-printing-container,
   .sign-boards-container,
   .branding-cars-container,
   .format-printing-container,
   .services-tablets-container,
   .souvenirs-promo-container,
   .souvenirs-business-container,
   .souvenirs-vip-container {
     width: 900px;
   }

   .operational-polygraphy-container,
   .plastic-cards-container,
   .sign-boards-container,
   .format-printing-container,
   .souvenirs-promo-container,
   .souvenirs-vip-container {
     margin-top: -30px;
   }

   .operational-polygraphy,
   .plastic-cards,
   .sign-boards,
   .format-printing,
   .souvenirs-promo,
   .souvenirs-vip {
     background-repeat: no-repeat;
   }

   .operational-polygraphy-description,
   .operational-polygraphy-questions,
   .business-cards-description,
   .business-cards-questions,
   .plastic-cards-description,
   .plastic-cards-questions,
   .offset-printing-description,
   .offset-printing-questions,
   .sign-boards-description,
   .sign-boards-questions,
   .branding-cars-description,
   .branding-cars-questions,
   .format-printing-description,
   .format-printing-questions,
   .services-tablets-description,
   .services-tablets-questions,
   .souvenirs-promo-description,
   .souvenirs-promo-questions,
   .souvenirs-business-description,
   .souvenirs-business-questions,
   .souvenirs-vip-description,
   .souvenirs-vip-questions {
     padding: 50px 60px 70px 60px;
   }
  }

/*  */

.calculator,
.guarantees,
.review,
.examples,
.free,
.operational-polygraphy,
.business-cards,
.plastic-cards,
.offset-printing,
.sign-boards,
.branding-cars,
.format-printing,
.services-tablets,
.souvenirs-promo,
.souvenirs-business,
.souvenirs-vip {
  opacity: 0;
}

.move-right {
  opacity: 1;
  position: relative;
  animation: move-right 1s ease-in-out ;
}

@keyframes move-right {
  0% {
    left: -2000px;
  }
  100% {
    left: 0;
  }
}

.move-left {
  opacity: 1;
  position: relative;
  animation: move-left 1s ease-in-out ;
}

@keyframes move-left {
  0% {
    right: -2000px;;
  }
  100% {
    right: 0;
  }
}








/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... } */
